<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    backupGlobals="false"
    backupStaticProperties="false"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <testsuites>
        <testsuite name="Yuges unit test suite">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Yuges feature test suite">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Yuges integration test suite">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="DB_CONNECTION" value="testing"/>
    </php>
</phpunit>
